@using iTechArt.TestApplication.Web.ViewModels
@model WeightViewModel

@{
    ViewBag.Title = "Weight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="row">
    <div class="col-md-4">
        <label>Depot</label>
        @if (Model.Depots!= null)
        {
            <select class="form-control" id="DepotId">
                @foreach (var depot in Model.Depots)
                {
                    <option value="@depot.Id">@depot.DepotName</option>

                }
            </select>
        }
        </div>
        <div class="col-md-4">
            <label>Drug type</label>
        @if (Model.DrugTypes != null)
		{
            <select class="form-control" id="DrugType">
                @foreach (var drugType in Model.DrugTypes)
                {
                    <option value="@drugType.Id">@drugType.DrugTypeName</option>
                }
            </select>
        }
        </div>
        <div class="col-md-4">
            <br>
            <button class="btn btn-success" id="Show">Show</button>
        </div>
    </div>
<br>
<div id="results"></div>


