@model IEnumerable<iTechArt.TestApplication.DAL.Models.DrugUnit>


    <table class="table table-hover">
        <thed>
            <tr>
                <th>Drug Unit Id</th>
                <th>Pick Number</th>
                <th>Drug Type Name</th>
                <th>Depot Name</th>
            </tr>
        </thed>
@if (Model != null && Model.Count() > 0)
{
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.DrugUnitId </td>
                    <td> @item.PickNumber </td>
                    <td> @item.DrugType.DrugTypeName </td>
                    <td> @item.Depot.DepotName </td>

                </tr>

            }


        </tbody>
}
    </table>

