@using iTechArt.TestApplication.Web.ViewModels
@model UnitsSearchViewModel


    <table class="table table-hover">
        <thed>
            <tr>
                <th>Drug Unit Id</th>
                <th>Pick Number</th>
                <th>Drug Type Name</th>
                <th>Depot Name</th>
            </tr>
        </thed>
@if (Model.RenderDrugUnits)
{
        <tbody>

            @foreach (var item in Model.DrugUnits)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.PickNumber </td>
                    <td> @item.DrugType.DrugTypeName </td>
                    <td> @item.Depot.DepotName </td>

                </tr>

            }


        </tbody>
}
    </table>

