@using iTechArt.TestApplication.DAL.EF
@using iTechArt.TestApplication.Web.ViewModels
@model DepotsViewModel
@{
    ViewBag.Title = "Deports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<button class="btn-success" id="previous">Previous</button>
<div id="results" data-model="@Model.CountDrugUnits">


	
</div>

	<button class="btn-success" id="next">Next</button>

